<h1>Cadastrar novo usuário</h1>
<form action="/usuarios" method="POST">
    <div class="form-group">
        <label for="usuariosname">Nome</label>
        <input type="text" class="form-control" id="usuariosname" name="usuariosname" required>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="role">Regra</label>
        <select class="form-control" id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="usuarios">Usuarios</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
