<h1>Usuarios Details</h1>
<p>ID: <%= usuarios.id %></p>
<p>Usuariosname: <%= usuarios.usuariosname %></p>
<p>Role: <%= usuarios.role %></p>
<a href="/usuarios" class="btn btn-primary">Back to List</a>
